{% set products = __SELF__.products %}



<div class="row">
{% for product in products %}
    
<div class="col-sm-4 col-md-3">
    <div class="thumbnail">
        <a href="{{ product.slug }}"><img src="{{ product.featured_image.thumb(250, 170, 'exact') }}" alt="{{ product.name }}"/></a>
      <div class="caption">
        <h3><a href="{{ product.slug }}">{{ product.name }}</a></h3>
        <p>{{ product.price }} Ft</p>
        <p>{{ product.short_description }}</p>
        <p><a href="{{ product.slug }}" class="btn btn-primary" role="button">Megnéz</a> Készleten: {{ product.quantity }} db</p>
      </div>
    </div>
  </div>
{% endfor %}
</div>